<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Try changing the orbital period of each planet and observe what happens :)</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>You can use gesture to control your view of the pattern in 3D!</string>
		</dict>
	</array>
</dict>
</plist>
